APPLICATION_PASSWORDS_1="あいことば1"
APPLICATION_PASSWORDS_2="あいことば2"
APPLICATION_PASSWORDS_3="あいことば3"
APPLICATION_PASSWORDS_4="あいことば4"
APPLICATION_PASSWORDS_5="あいことば5"
APPLICATION_PASSWORDS_6="あいことば6"
APPLICATION_PASSWORDS_FAKE="あいことば偽"

APPLICATION_HASH_SEED="あいことばシード"
